.charging {
  width: 100%;
  background-color: #f2f5f7;
  padding: 80px 0 80px 50px;
}

.charging__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/image-charging.png");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.charging__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 0 0 50px;
}

.charging__text {
  font-family: "Plugo Gothic";
  font-weight: normal;
  color: #ffffff;
}

.charging__text-big {
  font-size: 60px;
  margin: 0 0 20px 0;
}

.charging__text-small {
  font-size: 16px;
  margin: 0;
}

.charging__bar-button__img {
  width: 30px;
  height: 30px;
}

.charging__bar-container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  right: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
}

.charging__bar-line__img {
  margin: 0 20px;
}

.charging__bar-text {
  margin-right: 40px;
}

.charging__bar-text__big {
  font-size: 16px;
  margin: 5px 0 10px 0;
}

.charging__bar-text__small {
  font-size: 12px;
  margin: 0;
}

.charging__bar-text__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Gothic";
  font-weight: normal;
  color: #001950;
}
