.company {
  width: 100%;
  padding: 70px 0;
}

.company__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__button {
  font-family: "Gothic";
  font-size: 10px;
  font-weight: normal;
  color: #001950;
  border-radius: 30px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #001950;
  cursor: pointer;
  padding: 5px 40px;
  background: linear-gradient(to left, #ffffff 50%, #001950 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}

.company__button:hover {
  background-position: left;
  color: #ffffff;
}

.company__text-container {
  font-family: "Plugo Gothic";
  font-size: 12px;
  font-weight: normal;
  color: #001950;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company__text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 0;
}

.company__text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;
}

.company__text {
  margin: 0 0 15px 0;
}
