.banner {
  display: flex;
  justify-content: space-between;
}

.banner__left {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.banner__left-word {
  writing-mode: sideways-lr;
  font-family: "Gothic";
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__left-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.banner__right {
  width: 90%;
}
