.footer {
  font-family: "Gothic";
  font-weight: normal;
}

/* Footer-Upper Section */

.footer__upper {
  background-color: #001950;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

/* Footer-Upper Logo */

.footer__logo {
  min-width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

/* Footer-Upper Navigation */

.footer__nav-1 {
  display: flex;
  flex-direction: column;
}

.footer__nav-1-link__big {
  text-decoration: none;
  color: #ffffff;
  margin: 15px 0 0 0;
  font-size: 14px;
}

.footer__nav-1-link__small {
  text-decoration: none;
  color: #ffffff;
  margin: 5px 0 0 3px;
  font-size: 10px;
}

.footer__nav-2 {
  display: flex;
  flex-direction: column;
}

.footer__nav-2-link__big {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 14px;
}

.footer__icon {
  margin: 0 0 0 10px;
}

.footer__space {
  width: 30%;
}

/* Footer-Lower Section */

.footer__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
}

.footer__lower-text {
  font-family: "Gothic";
  font-size: 12px;
  font-weight: normal;
  color: #28232d;
}

.footer__lower-link {
  font-family: "Gothic";
  font-size: 12px;
  font-weight: normal;
  color: #28232d;
  text-decoration: none;
}

.footer__lower-space {
  width: 60%;
}

/* Responsive Design */

@media screen and (max-width: 1280px) {
  .footer__nav-1-link__big {
    font-size: 1.4vw;
  }

  .footer__nav-1-link__small {
    font-size: 1vw;
  }

  .footer__nav-2-link__big {
    font-size: 1.4vw;
  }

  .footer__lower-text {
    font-size: 1.2vw;
  }

  .footer__lower-link {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 850px) {
  .footer__upper {
    padding: 25px;
  }

  .footer__space {
    width: 20%;
  }

  .footer__lower {
    padding: 5px 25px;
  }

  .footer__lower-space {
    width: 40%;
  }
}

@media screen and (max-width: 568px) {
  .footer__upper {
    padding: 20px 15px;
  }

  .footer__logo {
    min-width: 18vw;
    margin: 10px 0 0 0;
  }

  .footer__logo-letter {
    height: 15px;
  }

  .footer__nav-1-link__big {
    margin: 10px 0 0 0;
    font-size: 1.4vw;
  }

  .footer__nav-1-link__small {
    margin: 3px 0 0 3px;
    font-size: 1vw;
  }

  .footer__nav-2-link__big {
    margin: 8px 0 0 0;
    font-size: 1.4vw;
  }

  .footer__icon {
    margin: 0 0 0 5px;
    height: 5px;
    width: 5px;
  }

  .footer__space {
    width: 15%;
  }

  .footer__lower {
    padding: 5px 15px;
  }

  .footer__lower-text {
    font-size: 1.2vw;
  }

  .footer__lower-link {
    font-size: 1.2vw;
  }

  .footer__lower-space {
    width: 40%;
  }
}
